.git
.github
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/.coverage
**/node_modules
frontend/dist
frontend/coverage
dist
data
*.db
scripts/tests
**/*.md
!frontend/public/**
.env
.env.*
!.env.example
